<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <database use_synchronizer="0" use_inicialise="0">
        <!-- All -->
        <mysql database="db_4gain" password="HReQ6PuWf7yW9t" server="10.19.2.20" user="4gain" charset="utf8" />
    </database>

    <logging use_file="1" use_syslog="1" >
        <console level="10" />
        <splash level="20" />
        <file level="10" path="build/build.log" when="d" interval="1" count="7"/>
        <syslog level="30" address_ip="10.19.2.18" address_port="514" />
    </logging>

    <sphinx>
        <AutoDocSchemaDisplay path_graph="build/static/schema_graph.png" />
    </sphinx>
</configuration>

